<html>
    <head>
        <title>Molou's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">El blog de Molou</a></h1>
        </div>

        <div>
            <p>published: 14.02.2019, 12:14</p>
            <h2><a href="">Será la primera vez que escriba</a></h2>
            <p>Es necesario que retome la escritura creativa y la propuesta de ideas de nota. Sucede que la creatividad se nos muere bastante cuando llevamos tanto tiempo sin gritar. Necesitamos hablar más.</p>
        </div>

        <div>
            <p>published: 15.02.2019, 12:14</p>
            <h2><a href="">A mis 29 años</a></h2>
            <p>Escribo sin sentirme realizada en lo absoluto. Estoy decepcionada de gran parte de mis decisiones, no creo estar tomando ninguna buena. Pero sé que la inmobilidad no me lleva a ningún lugar.</p>
        </div>
    </body>
</html>
